body{
  background-color: #FFE9A0;
}

hr{

  background-color: #647E68;
  border-style: inset;
  border-width: 50px;
  border-top-style: solid;

  width: 1500px;
  height: 10px;

  border-style: solid;
  border-width: 10px;
    }

h1{
  color: #B73E3E;
  font-family: ROG Fonts;
  font-size: 35px;
    }

h2{
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  border-top: 1rem solid;
    }

p{
  display: block;
  margin: auto;
  text-align: justify;
  font-family: sans-serif;
  font-stretch: 50%;
    }

.class1{
  height: 450px;
  width: 700px;

  border-style: ratio;
  border-width: 10px;
  border-radius: 30px;
      }

.class1:hover{
  border-width: 100px
      }

.class2{
  height: 200px;
  width: 200px;

  border-style: ratio;
  border-width: 10px;
  border-radius: 30px;
  background-clip: padding-box;
  border-color: #4C6793;

  padding: 15px;

  margin: 10px;
      }

.class3{
  background: #ff3333;
  background-image: -webkit-linear-gradient(top, #ff3333, #821229);
  background-image: -moz-linear-gradient(top, #ff3333, #821229);
  background-image: -ms-linear-gradient(top, #ff3333, #821229);
  background-image: -o-linear-gradient(top, #ff3333, #821229);
  background-image: linear-gradient(to bottom, #ff3333, #821229);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  padding: 4px 8px 4px 8px;
      }

.class3:hover{
  background: #04d9a7;
  background-image: -webkit-linear-gradient(top, #04d9a7, #14120a);
  background-image: -moz-linear-gradient(top, #04d9a7, #14120a);
  background-image: -ms-linear-gradient(top, #04d9a7, #14120a);
  background-image: -o-linear-gradient(top, #04d9a7, #14120a);
  background-image: linear-gradient(to bottom, #04d9a7, #14120a);
      }

.target{
  color: #256D85;
  font-size: 30px;
  transition-property: font-size;
  transition-duration: 5s;

  font-family: Castellar;
      }

.target:hover{
  font-size: 36px;
      }

.to-top{
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
      }
